<div class="content-area-container">
  <div class="content-area-header" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "vr-header.png"  %>');">
  </div>
    <br>
  <div class="content-area-videos">
    <div class="row">
      <div class="col-lg-8">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>test</p>
        </div>
      </div>
    </div>
  </div>
</div>
