<div id="center">
  <div id="login-row">
    <div class="icon-user" id="login-icon"></div>
    <div id="login">Login</div>
  </div>
  <div id="password-row">
    <div class="icon-lock" id="password-icon"></div>
    <div id="password">Password</div>
  </div>
  <div id="login-button">Log in</div>
  <div id="forget">Forgot password?</div>
</div>
