<div class="content-area-container">
  <div class="video-displayer-area">
    <br>
    <br>
    <br>
    <div class="video-global-container">
      <div class="video-container">
        <div class="videoWrapper">
          <iframe src='https://www.youtube.com/embed/<%= @video.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
        </div>
      </div>
      <div class="video-sub-container">
        <p>Sub Information</p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
