<div class="bg"></div>
<header>
   <div class="home-box">
            <%= image_tag "xponential-society-logo.png" %>
            <h1>Curated Videos</h1>
            <h3>for an exponential world</h3>
            <br>
            <p><%= link_to 'Enter', videos_path, class: "btn-home btn-2" %></p>
  </div>
</header>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>



<style>
*{box-sizing: border-box;}

/*.layout{
  display:block;
  position:relative;
  background: #21212a;
  height:90vh;
}*/

/* header */

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background: rgba(242,128,51,0.05);
  display:flex;
   align-items: center;
  justify-content: center;
}

header .home-box{
    display:inline-block;
    /*top: 40%;
    left: 50%;*/
    text-align: center;
    background:rgba(33, 33, 42, 0.8);
    padding:50px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    border-radius:4px;
  }

  header .home-box h1{
    font-size: 2.5em;font-weight: normal;
  }
   header .home-box h3{
    font-size:1.25em;font-weight: lighter;
  }

   header .home-box a{
    font-family: 'Raleway', 'Helvetica', 'sans-serif';
    color: #B7B8CE;
  }

  header .home-box a:hover{
    font-family: 'Raleway', 'Helvetica', 'sans-serif';
    color: #B7B8CE;
  }

.bg {
  display:block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/assets/sunrise-bg.png') ;
  background-size: cover;
  -moz-transition: 0.1s;-o-transition: 0.1s;-webkit-transition: 0.1s;transition: 0.1s;
  z-index: -1;
}

.footer {
  background: #30333B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

</style>
<!-- <script>
  //PARALLAX

$(window).scroll(function(){
  parallax();
});

$('a[data-modal]').click(function(event) {
  $(this).modal();
  return false;
});

function parallax(){
  var scrolled = $(window).scrollTop();
  $('.bg').css('top',-(scrolled*0.1)+'px');
  $('header .content').css('top',50+(scrolled*0.1)+'%');
  $('header .content').css('opacity',1-(scrolled*0.01)/10);
  $('header .content').css('opacity',1-(scrolled*0.01)/10);
};
</script> -->
