<div class="bg"></div>
<header>
   <div class="home-box">
            <%= image_tag("xponential-society-logo.png", :class => "home-box-logo")%>
            <h1>Curated Videos</h1>
            <h3>for an exponential world</h3>
            <br>
            <p><%= link_to 'Enter', videos_path, class: "btn-home btn-2" %></p>
  </div>
</header>

<%= render 'shared/footer' %>