// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

// Body Basic
body {
  font-family: 'Merriweather Sans', sans-serif;
  background: #292c35;
  position: absolute;
  font-weight: lighter;
  color: #B7B8CE;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  zoom:100%;
}
